@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}
