// Colors
$primary-color: #660066;
$primary-hover: #800080;
$text-color: #111111;
$background-color: #f5f3f3;
$error-color: #dc3545;
$focus-outline: #4a154b;

// Spacing
$default-padding: 8px 12px;
$input-border-radius: 4px;
$gap-large: 20px;
$gap-small: 8px;

// Typography
$font-family: 'Montserrat', sans-serif;
$base-font-size: 16px;
